<nav class="navbar is-black">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Home', root_path, :class => "navbar-item" %>
        <%= link_to 'Games', games_path, :class => "navbar-item" %>
        <%= link_to 'Genres', genres_path, :class => "navbar-item" %>
        <%= link_to 'Publishers', publishers_path, :class => "navbar-item" %>
        <%= link_to 'About', about_index_path, :class => "navbar-item" %>
      </div>
    </div>
  </div>
</nav>